@media screen and (max-width: 375px) {

    .swiper { /*------------------------------------ carrousel -------------------------------*/
        width: 65%;
        height: 90px;
        margin-left: 20%;
        border-radius: 10px;
    }

    .mySwiper2 {
        height: 80%;
        width: 80%;
        margin-left: 12%;
    }

    .container-card { /*------------------------------------ Container Card -------------------------------*/
        width: 100%;
        margin-left: 0px;
        height: 700px;
    }

    .card-preco {
        margin-left: 0px;
        height: 150px;
        width: 360px;
        margin-right: 0;
    }

    .primeiro-titulo {
        margin-left: 0;
        font-size: 15px;
    }

    .linha-horizontal-1 {
        display: none;
    }

    .segundo-titulo {
        padding-left: 0px;
        margin-top: 0px;
        text-align: center;
    }

    .desconto {
        width: 12%;
    }

    .container-btn div label span {
        padding: 10px 20px;
    }

    .container-btn {
        margin-left: 0;
        margin-right: 15px;
    }

    .container-button {
        margin-left: 0px;
    }

    .format {
        width: 90px;
    }

    .btn-comprar {
        width: 190px;
    }

    .text-comprar-mais {
        margin-left: 0px;
        font-size: 18px;
    }

    .container-cep {
        height: 135px;
        width: 360px;
        margin-left: 0px;
    }

    .container-cep input {
        margin-left: 15px;
    }

    .container-cep a {
        margin-left: 230px;
    }

    .container-cep span {
        margin-left: 20px;
    }

    /*------------------------------------ Titulo Avaliacao -------------------------------*/
    .avaliacao h1 { 
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }

    .avaliacao .text2 {
        display: none;
    }

    .linha-horizontal3 {
        display: none;
    }

}