@media screen and (max-width: 768px) {

    .swiper { /*------------------------------------ carrousel -------------------------------*/
        width: 38%;
        height: 110px;
        border-radius: 10px;
    }

    .mySwiper2 {
        height: 70%;
        width: 70%;
    }

     /*------------------------------------ Container Card -------------------------------*/
    .container-card {
        width: 90%;
    }

    .primeiro-titulo {
        font-size: 20px;
    }

    .desconto {
        width: 6%;
    }

    .container-btn div label span {
        padding: 15px 25px;
    }

    .preco-anterior {
        width: 23%;
    }

    .format {
        width: 90px;
    }

    .btn-comprar {
        width: 190px;
    }

    .text-comprar-mais {
        margin-left: 35px;
        font-size: 18px;
    }

    .item span {
        width: 45%;
    }

}